body
{
    color:#333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: rgb(32, 129, 220);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#important{
    font-size: 16px;
    color: red;
}

.section_all {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
.section_btn {
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;

    color: #ffffff;
    background: rgba(255, 68, 0, 0.797);
    border: 2px solid rgb(255, 68, 0);
    border-radius: 5px;

    cursor: pointer;
    outline: none;
}
.section_btn:active {
    background: rgb(255, 68, 0);
}
.section_result {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(103, 102, 102);
    margin: 0 auto;
}
#ResultIG
{
    font-weight: 600;
}
#ResultAP
{
    font-weight: 600;
}

.form {
    font-size: 16px;
    margin:auto;
}
.form_item{
    display: flex;
    flex-direction: column;
}
.form_item > * {
    align-self: flex-start;
}
.form_label {
    font-weight: 600;
    padding: 6px 0;
}
.form_input {
    width: 100%;
    max-width: 225px;
    padding: 0.8em;
    font-size: 0.9em;

    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9f9;
    transition: background 0.25s, border-color 0.25s color 0.25s;
}
.form_input:focus{
    background: #ffffff;
}
.form_btn {
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 10px 0;

    color: #ffffff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;

    cursor: pointer;
    outline: none;
}
.form_btn:active {
    background: #0fa942;
}
